.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #faf8ef;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    font-size: 2.5em;
    color: #776e65;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 1.2em;
    color: #776e65;
    margin-bottom: 20px;
}

#playAgain {
    padding: 10px 20px;
    font-size: 1em;
    color: #f9f6f2;
    background-color: #8f7a66;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#playAgain:hover {
    background-color: #9c8b77;
}

/* Styles pour le thème sombre */
.dark-theme .modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.dark-theme .modal-content {
    background-color: #2f3136; 
    color: #ffffff; 
}

.dark-theme .modal-content h2 {
    color: #ffffff; 
}

.dark-theme .modal-content p {
    color: #ffffff; 
}

.dark-theme #playAgain {
    background-color: #7289da; 
    color: #ffffff; 
}

.dark-theme #playAgain:hover {
    background-color: #677bc4; 
}