.tile-2 {
    background-color: #eee4da;
}

.tile-4 {
    background-color: #ede0c8;
}

.tile-8 {
    background-color: #f2b179;
    color: #f9f6f2;
}

.tile-16 {
    background-color: #f59563;
    color: #f9f6f2;
}

.tile-32 {
    background-color: #f67c5f;
    color: #f9f6f2;
}

.tile-64 {
    background-color: #f65e3b;
    color: #f9f6f2;
}

.tile-128 {
    background-color: #edcf72;
    color: #f9f6f2;
}

.tile-256 {
    background-color: #edcc61;
    color: #f9f6f2;
}

.tile-512 {
    background-color: #edc850;
    color: #f9f6f2;
}

.tile-1024 {
    background-color: #edc53f;
    color: #f9f6f2;
}

.tile-2048 {
    background-color: #edc22e;
    color: #f9f6f2;
}

/* Styles pour le thème sombre */
.dark-theme .tile-2 {
    background-color: #7289da;
    color: #ffffff;
}

.dark-theme .tile-4 {
    background-color: #677bc4;
    color: #ffffff;
}    

.dark-theme .tile-8 {
    background-color: #5b6eae;
    color: #ffffff; 
}

.dark-theme .tile-16 {
    background-color: #4a5a94;
    color: #ffffff; 
}

.dark-theme .tile-32 {
    background-color: #3a467a;
    color: #ffffff;
}    

.dark-theme .tile-64 {
    background-color: #2a3360; 
    color: #ffffff;
}

.dark-theme .tile-128 {
    background-color: #1a1f46;
    color: #ffffff; 
}

.dark-theme .tile-256 {
    background-color: #0a0d2c; 
    color: #ffffff; 
}

.dark-theme .tile-512 {
    background-color: #000012; 
    color: #ffffff; 
}

.dark-theme .tile-1024 {
    background-color: #000000; 
    color: #ffffff; 
}

.dark-theme .tile-2048 {
    background-color: #000000; 
    color: #ffffff; 
}